<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <ngb-tabset [justify]="currentJustify">

                <ngb-tab>
                    <ng-template ngbTabTitle><b>Exercise</b></ng-template>
                    <ng-template ngbTabContent>
                        <br />
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <form (submit)="ExerciseUser($event)">
                                        <div class="card" style="width: 14rem;">
                                            <img class="card-img-top" src="./assets/images/light.png" alt="Card image cap" style="height: 10rem">
                                            <div class="card-body">
                                                <h4 for="inputexercise">Light Exercise</h4>
                                                <input type="hidden" id="excName" class="form-control" name="Type" placeholder="" value="Light">
                                            <div class="dl m-b-10">
                                                <select id = "exctype" class="custom-select border-10 text-active">
                                                    <option value="0" selected="">Type</option>
                                                    <option  *ngFor = "let ftype of exerciseLight">
                                                        {{ftype.ExerciseName}}
                                                       </option> 
                                                </select>
                                                <select id = "Duration" class="custom-select border-10 text-active">
                                                    <option value="0" selected="">Duration(minutes)</option>
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="More Than 40">More than 40</option>
                                                </select>
                                                <div class="dl m-b-10">
                                                        <select id = "IntakeTime"  class="custom-select border-10 text-active">
                                                            <option  value="0" selected="">Time</option>
                                                            <option  value="12:00 PM">12:00 PM</option>
                                                            <option  value="15:00 to 18:00 PM">15:00 to 18:00 PM</option>
                                                        </select>
                                                    </div>
                                                <!--                                             
                                                <select class="custom-select border-10 text-active">
                                                    <option value="0" selected="">Start Time</option>
                                                   
                                                </select>
                                                <select class="custom-select border-10 text-active">
                                                    <option value="0" selected="">Calories Used</option>
                                                </select> -->
    
                                                <!--<ngb-timepicker [(ngModel)]="time" [meridian]="meridian"></ngb-timepicker>-->
    
                                            </div>
                                            <button type="submit" class="btn btn-primary bg-dark text-white " (click)="lightExercise()">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col">
                                    <form (submit)="ExerciseUser($event)">
                                        <div class="card" style="width: 14rem;">
                                            <img class="card-img-top" src="./assets/images/running.png" alt="Card image cap" style="height: 10rem">
                                            <div class="card-body">
                                                <h4 for="inputfood">Moderate Exercise</h4>
                                                <input type="hidden" id="excName" class="form-control" name="Type" placeholder=""
                                                    value="Moderate">
                                            <div class="dl m-b-10">
                                                <select id="exctype" class="custom-select border-10 text-active">
                                                    <option id = "exctype" value="0" selected="">Type</option>
                                                        <option  *ngFor = "let ftype of exerciseModerate">
                                                            {{ftype.ExerciseName}}
                                                        </option>
                                                </select>
                                                <select id = "Duration" class="custom-select border-10 text-active">
                                                    <option value="0" selected="">Duration(minutes)</option>
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="More Than 40">More than 40</option>
                                                </select>
                                                <div class="dl m-b-10">
                                                        <select id = "IntakeTime"  class="custom-select border-10 text-active">
                                                            <option  value="0" selected="">Time</option>
                                                            <option  value="12:00 PM">12:00 PM</option>
                                                            <option  value="15:00 to 18:00 PM">15:00 to 18:00 PM</option>
                                                        </select>
                                                    </div>
                                                                                            
                                                <!-- <select class="custom-select border-10 text-active">
                                                    <option value="0" selected="">Start Time</option>
                                            
                                                </select>
    
                                                <select class="custom-select border-10 text-active">
                                                    <option value="0" selected="">Calories Used</option>
                                                </select> -->
    
                                                <!--<ngb-timepicker [(ngModel)]="time" [meridian]="meridian"></ngb-timepicker>-->
    
                                            </div>
                                            <button type="submit" class="btn btn-primary bg-dark text-white" (click)="moderateExercise()">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                        
                                <div class="col">
                                    <form (submit)="ExerciseUser($event)">
                                        <div class="card" style="width: 14rem;">
                                            <img class="card-img-top" src="./assets/images/lifting.png" alt="Card image cap" style="height:10rem">
                                          
                                            <div class="card-body">
                                                <h4 for="inputfood">Intense Exercise</h4>
                                                <input type="hidden" id="excName" class="form-control" name="Type" placeholder=""
                                                    value="Intense">
                                                
                                            <div class="dl m-b-10">
                                                <select id="exctype" class="custom-select border-10 text-active">
                                                    <option id = "exctype" value="0" selected="">Type</option>
                                                    <option  *ngFor = "let ftype of exerciseIntense">
                                                        {{ftype.ExerciseName}}
                                                    </option>
                                                </select>
                                                <select id = "Duration" class="custom-select border-10 text-active">
                                                    <option value="0" selected="">Duration(minutes)</option>
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="More Than 40">More than 40</option>
                                                </select>
                                                <div class="dl m-b-10">
                                                        <select id = "IntakeTime"  class="custom-select border-10 text-active">
                                                            <option  value="0" selected="">Time</option>
                                                            <option  value="12:00 PM">12:00 PM</option>
                                                            <option  value="15:00 to 18:00 PM">15:00 to 18:00 PM</option>
                                                        </select>
                                                    </div>
                                           
                                                <!--                                            
                                                <select class="custom-select border-10 text-active">
                                                    <option value="0" selected="">Start Time</option>
                                            
                                                </select>
                                                <select class="custom-select border-10 text-active">
                                                    <option value="0" selected="">Calories Used</option>
                                                </select> -->
                                                <!--<ngb-timepicker [(ngModel)]="time" [meridian]="meridian"></ngb-timepicker>-->
    
                                            </div>
                                                <button type="submit" class="btn btn-primary bg-dark text-white" (click)="intenseExercise()">Add</button>
                                            </div>
                                        <!--</form>-->
                                        </div>
                                    </form>
                                    </div>
                            </div>
                        </div>

<!--Today's Table-->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Recently Added</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead 
                                               class="m-b-0 text-white  bg-secondary ">
                                                   
                                            <tr>
                                                <th class="text-white">#</th>
                                                <th class="text-white" >Exercise Name</th>
                                                <th class="text-white" >Exercise Type</th>
                                                <th class="text-white" >Duration</th>
                                                <th class="text-white">Start Time</th>
                                                <th class="text-white" >Calories Consumed</th>
                                                <th class="text-white">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Cleaning</td>
                                                <td>Moderate</td>
                                                <td>20</td>
                                                <td>20:20 AM</td>
                                                <td>2589</td>
                                                <td>25/009/2019</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    </ng-template>
                </ngb-tab>
<!--New Tab-->
                <ngb-tab>
                    <ng-template ngbTabTitle><b>History</b></ng-template>
                    <ng-template ngbTabContent>
                        <br/>
                        <div class="form-group row">
                            <div class="col-sm-1">
                                <div class="b-label">
                                    <label for="inputEmail3" class="control-label col-form-label"><i class="mdi mdi-filter text-dark display-8"></i> Filter By Exercise Type</label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                    <select [(ngModel)]="selectedLevel" (change)="selected()" class="form-control">
                                    <option>--Select--</option>
                                    <option *ngFor="let item of data" [ngValue]="item">{{item.name}}</option>
                                </select>
                                
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-secondary text-white">
                                                <tr>
                                                    <th class="text-white" scope="col">Type of Exercise</th>
                                                    <th class="text-white" scope="col">Duration(Mintues) </th>
                                                    <th class="text-white"scope="col">Date</th>
                                        
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let exe of allExercises | async">
                                                    <td>{{exe.ExerciseName}}</td>
                                                    <td>{{exe.Duration}} </td>
                                                    <!-- <td>{{exe.StartTime}}</td> -->
                                                    <td>{{exe.CreatedAt}}</td>   
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

            </ngb-tabset>
        </div>
    </div>
</div>