<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <ngb-tabset [justify]="currentJustify">

                <ngb-tab>
                    <ng-template ngbTabTitle><b>Add Exercise</b></ng-template>
                    <ng-template ngbTabContent>
                    <div class="container">
                    
                        <div class="row">
                            <div class="col">
                                <form (submit)="ExerciseUser($event)" class="form-horizontal m-t-20" id="ExerciseForm">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="./assets/images/yoga.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h3 for="inputexercise">Light Exercise</h3>
                                            <input type="hidden" id="excType" class="form-control" name="Type" placeholder="" value="Light">
                                        <div class="dl m-b-10">
                                            <select class="custom-select border-10 text-active">
                                                <option value="0" selected="">Select</option>
                                                <option value="1">Yoga</option>
                                                <option value="2">Stair Stepping</option>
                                                <option value="3">Plank</option>
                                                <option value="4">dancing</option>
                                                <option value="5">Cleaning</option>
                                                <option value="6">Water Bottle Weights</option>
                                            </select>
                                        </div>
                                        <div class="dl m-b-10">
                                        
                                            <input type="number" class="form-control" id="Duration" placeholder="Duration in Mintues">
                                        </div>
                                        
                                        <button type="button" class="btn btn-primary bg-danger text-white" data-toggle="modal" data-target="#exampleModalCenter">
                                            Add
                                        </button>
                                        
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Succesfully Added</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Your exercise is succesfully added.
                                                    </div>
                                        
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                    
                    
                                </form>
                            </div>
                            <div class="col">
                                <form (submit)="ExerciseUser($event)" class="form-horizontal m-t-20" id="ExerciseForm">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="./assets/images/r1.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h3 for="inputfood">Moderate Exercise</h3>
                                            <input type="hidden" id="excType" class="form-control" name="Type" placeholder=""
                                                value="Moderate">
                                            <div class="dl m-b-10">
                                                <select class="custom-select border-10 text-active">
                                                    <option value="0" selected="">Select</option>
                                                    <option value="1">Running</option>
                                                    <option value="2">Jogging</option>
                                                    <option value="3">Walking</option>
                                                    <option value="4">Cycling</option>
                                                    <option value="5">Jumping</option>
                                                    <option value="6">Talking</option>
                                                </select>
                                            </div>
                                            <div class="dl m-b-10">
                                            
                                                <input type="number" class="form-control" id="Duration" placeholder="Duration in Mintues">
                                            </div>
                                            
                                            <button type="button" class="btn btn-primary bg-danger text-white" data-toggle="modal" data-target="#exampleModalCenter">
                                                Add
                                            </button>
                                            
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Succesfully Added</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Your exercise is succesfully added.
                                                        </div>
                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                    
                            <div class="col">
                                <form (submit)="ExerciseUser($event)" class="form-horizontal m-t-20" id="ExerciseForm">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="./assets/images/i1.jpg" alt="Card image cap">
                                        <p class="card-text"></p>
                                        <div class="card-body">
                                            <h3 for="inputfood">Intense Exercise</h3>
                                            <input type="hidden" id="excType" class="form-control" name="Type" placeholder=""
                                                value="Intense">
                                            
                    <div class="dl m-b-10">
                        <select class="custom-select border-10 text-active">
                            <option value="0" selected="">Select</option>
                            <option value="1">Squat</option>
                            <option value="2">Leg Press</option>
                            <option value="3">Leg Curl</option>
                            <option value="4">Leg Extension</option>
                            <option value="5">Chest Fly</option>
                            <option value="6">Shoulder Press</option>
                        </select>
                    </div>
                    <div class="dl m-b-10">
                        
                        <input type="number" class="form-control" id="Duration" placeholder="Duration in Mintues">
                    </div>
                    
                    <button type="button" class="btn btn-primary bg-danger text-white" data-toggle="modal" data-target="#exampleModalCenter">
                        Add
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Succesfully Added</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Your exercise is succesfully added.
                                </div>
                    
                            </div>
                        </div>
                    </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                    
                          
                        </div>
                    </div>

                    </ng-template>
                </ngb-tab>

                <ngb-tab>
                    <ng-template ngbTabTitle><b>Exercise Log</b></ng-template>
                    <ng-template ngbTabContent>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Type of Exercise</th>
                                    <th scope="col">Duration(Mintues) </th>
                                    <th scope="col">Date</th>
                        
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let exe of allExercises | async">
                                    <td>{{exe.ExerciseName}}</td>
                                    <td>{{exe.Duration}} </td>
                                    <td>{{exe.StartTime}}</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </ngb-tab>

            </ngb-tabset>
        </div>
    </div>
</div>