<table class="table">
    <thead>
      <tr>
        <th scope="col">Type of Food</th>
        <th scope="col">Consumption </th>
        <th scope="col">Date</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
            <td>Type of Food</td>
            <td >Consumption </td>
            <td >Date</td>
        
      </tr>
      <tr>
            <td>Type of Food</td>
            <td>Consumption </td>
            <td>Date</td>  
        
      </tr>
      <tr>
            <td>Type of Food</td>
            <td >Consumption </td>
            <td >Date</td>
        
      </tr>
    </tbody>
  </table>