

<div class="container">
    
    <div class="row">
      <div class="col">
            <div class="card" style="width: 18rem;">
                     <img class="card-img-top" src="./assets/images/yoga.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 for ="inputfood">Light Exercise</h3>
                        <div class="form-group col-md-6">
                                <label for="lastname">Duration(Mintues)</label>
                                <input type="number" class="form-control" id="inputPassword4" placeholder="Mintues">
                              </div>
                          
                        
                    </div>
                  </div> 
                  
      </div>
      <div class="col">
            <div class="card" style="width: 18rem;"  >
                    <img class="card-img-top" src="./assets/images/r1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 for ="inputfood">Moderate Exercise</h3>
                        
                        <div class="form-group col-md-6">
                                <label for="lastname">Duration(Mintues)</label>
                                <input type="number" class="form-control" id="inputPassword4" placeholder="Mintues">
                              </div>
                     
                      
                    </div>
                  </div> 
      </div>

      <div class="col">
            <div class="card" style="width: 18rem;" >
                    <img class="card-img-top" src="./assets/images/i1.jpg" alt="Card image cap">
                    <p class="card-text"></p>
                    <div class="card-body">
                        <h3 for ="inputfood">Intense Exercise</h3>
                        <div class="form-group col-md-6">
                                <label for="lastname">Duration(Mintues)</label>
                                <input type="number" class="form-control" id="inputPassword4" placeholder="Mintues">
                              </div>
                    
                    </div>
                  </div> 
      </div>
      
      
    </div><div class="w-100"></div>

    <button type="button" class="btn btn-outline-secondary">Add</button>
  </div>
