<table class="table">
    <thead>
      <tr>
        <th scope="col">Type of Exercise</th>
        <th scope="col">Duration(Mintues) </th>
        <th scope="col">Date</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
            <td>Type of Exercise</td>
            <td >Duration(Mintues) </td>
            <td >Date</td>
        
      </tr>
      <tr>
            <td>Type of Exercise</td>
            <td>Duration(Mintues) </td>
            <td>Date</td>  
        
      </tr>
      <tr>
            <td>Type of Exercise</td>
            <td >Duration(Mintues) </td>
            <td >Date</td>
        
      </tr>
    </tbody>
  </table>