<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <ngb-tabset [justify]="currentJustify">
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Add Food</b></ng-template>
                    <ng-template ngbTabContent>
                   
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <form (submit)="foodUser($event)" >
                                        <div class="card" style="width: 13.5rem;">
                                            <img class="card-img-top" src="./assets/images/breakfast.png" alt="Card image cap"> 
                                           
                                            <div class="card-body">
                                                <h3 for="inputfood"><u>Breakfast</u></h3>
                                                <input type="hidden" id="MealType" class="form-control" name="MealType" value ="Breakfast">
                                                <p class="card-text"> </p>
                                               

                                                <div class="dl m-b-10">
                                                        <div class="dl m-b-10">
                                                                <select id = "FoodName" class="custom-select border-10 text-active">
                                                                    <option value="0">-Select Food-</option>
                                                                  <option  *ngFor = "let fName of foodItem ">
                                                                     {{fName.FoodName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                </div>

                                                <!-- <input type="radio" name="options" [(ngModel)]="model.options" value="1">
                                                my one
                                                <input type="radio" name="options" [(ngModel)]="model.options" value="2">
                                                my two
                                                <input type="radio" name="options" [(ngModel)]="model.options" value="3">
                                                my three -->

                                                 <div class="dl m-b-10">
                                                        <select id = "IntakeTime"  class="custom-select border-10 text-active">
                                                            <option  value="0" selected="">Time</option>
                                                            <option  value="06:00 AM">06:00 AM</option>
                                                            <option  value="09:00 to 12:00 AM">09:00 to 12:00 AM</option>
                                                        </select>
                                                </div> 
                                               
                                                
                                                    <!-- <div  class="btn-group btn-group-sm" data-toggle="buttons">
                                                        <label class="btn btn-sm btn-secondary ">
                                                          <input type="radio" name="Quantity" id ="Quantity" value="Small">Small
                                                        </label>   
                                                        <label class="btn btn-sm btn-secondary">
                                                         <input type="radio" name="Quantity" id ="Quantity" value="Medium">Medium
                                                        </label>
                                                        <label class="btn btn-sm btn-secondary">
                                                        <input type="radio" name="Quantity" id ="Quantity" value="Medium">Large
                                                        </label>--><div class="dl m-b-10">
                                                            <select id = "IntakeTime"  class="custom-select border-10 text-active">
                                                                    <option  value="0">Quantity</option>
                                                                    <option  value="Small">Small</option>
                                                                    <option  value="Medium">Medium</option>
                                                                    <option  value="Large">Large</option>
                                                                </select>
                                                           

                                          
                                                      </div>
                                                 <button type="submit" class="btn btn-primary bg-dark text-white" (click)="breakfast()">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                        
                                <div class="col">
                                    <form (submit)="foodUser($event)">
                                        <div class="card" style="width: 13.5rem;">
                                            <img class="card-img-top" src="./assets/images/lunch.png" alt="Card image cap">
                                            <div class="card-body">
                                                <h3 for="inputfood"><u>Lunch</u></h3>
                                                <input type="hidden" id="MealType" class="form-control" name="MealType" value ="Lunch">
                                                <p class="card-text"> </p>
                                               
                                                <div class="dl m-b-10">
                                                        <select id = "FoodName" class="custom-select border-10 text-active">
                                                                <option value="0">-Select Food-</option>
                                                              <option  *ngFor = "let fName of foodItem ">
                                                                 {{fName.FoodName}}
                                                                </option>
                                                    </select>
                                                </div>
                                                <div class="dl m-b-10">
                                                    <select id = "IntakeTime"  class="custom-select border-10 text-active">
                                                        <option  value="0" selected="">Time</option>
                                                        <option  value="12:00 PM">12:00 PM</option>
                                                        <option  value="15:00 to 18:00 PM">15:00 to 18:00 PM</option>
                                                    </select>
                                                </div>
                                                                                         
                                            <!-- <div  class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-sm btn-secondary ">
                                                          <input type="radio" name="mergeType" id="Quantity"  value="Small">Small                                                        </label>
                                                        <label class="btn btn-sm btn-secondary">
                                                          <input type="radio" name="mergeType" id="Quantity"   value="Medium">Medium
                                                        </label>
                                                        <label class="btn btn-sm btn-secondary">
                                                          <input type="radio" name="mergeType" id="Quantity"  value="Large">Large
                                                        </label>
                                                      </div> -->
                                                      <div class="dl m-b-10">
                                                            <select id = "IntakeTime"  class="custom-select border-10 text-active">
                                                                <option  value="0">Quantity</option>
                                                                <option  value="Small">Small</option>
                                                                <option  value="Medium">Medium</option>
                                                                <option  value="Large">Large</option>
                                                            </select>
                                                        </div>
                                              <button type="submit" class="btn btn-primary bg-dark text-white" (click)="lunch()">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                        
                                <div class="col">
                                  <form (submit)="foodUser($event)">
                                        <div class="card" style="width: 13.5rem;">
                                           <img class="card-img-top" src="./assets/images/dinner.png" alt="Card image cap">
                                            <div class="card-body">
                                                <h3 for="inputfood"><u>Dinner</u></h3>
                                                <input type="hidden" id="MealType" class="form-control" name="MealType" value ="Dinner">
                                                <p class="card-text"></p>

                                                        <div class="dl m-b-10">
                                                                <select id = "FoodName" class="custom-select border-10 text-active">
                                                                    <option value="0">-Select Food-</option>
                                                                  <option  *ngFor = "let fName of foodItem ">
                                                                     {{fName.FoodName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                    
                                                <div class="dl m-b-10">
                                                        <select id = "IntakeTime"  class="custom-select border-10 text-active">
                                                                <option  value="0" selected="">Time</option>
                                                                <option  value="18:00 to 21:00 PM">18:00 to 21:00 PM</option>
                                                                <option  value="21:00 to 23:59 PM">21:00 to 23:59 PM</option>
                                                        </select>  
                                                </div>
                                               <!-- <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-sm btn-secondary ">
                                                          <input type="radio" name="mergeType" id="Quantity" value="Small">Small                                                        </label>
                                                        <label class="btn btn-sm btn-secondary">
                                                          <input type="radio" name="mergeType" id="Quantity" value="Medium">Medium
                                                        </label>
                                                        <label class="btn btn-sm btn-secondary">
                                                          <input type="radio" name="mergeType" id="Quantity" value="Large">Large
                                                        </label>
                                          
                                                      </div> -->
                                                      <div class="dl m-b-10">
                                                            <select id = "IntakeTime"  class="custom-select border-10 text-active">
                                                                <option  value="0">Quantity</option>
                                                                <option  value="Small">Small</option>
                                                                <option  value="Medium">Medium</option>
                                                                <option  value="Large">Large</option>
                                                            </select>
                                                        </div>
                                                 <button type="submit" class="btn btn-primary bg-dark text-white" (click)="dinner()">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                
                                <div class="col">
                                    <form (submit)="foodUser($event)" >
                                        <div class="card" style="width: 13.5rem;">
                                            <img class="card-img-top" src="./assets/images/drinks.png" alt="Card image cap">
                                            <div class="card-body">
                                                <h3 for="inputfood"><u>Drinks</u></h3>
                                                <input type="hidden" id="MealType" class="form-control" name="MealType" value ="Lunch">
                                                <p class="card-text"> </p>
                                               
                                                <div class="dl m-b-10">
                                                    <select id = "FoodName"  class="custom-select border-10 text-active">
                                                        <option   value="0" selected="">Select Drinks</option>
                                                        
                                                         <option id = "FoodName" value="Rice">Fizzy Drinks</option>
                                                         <option id = "FoodName" value="Pasta">Hot Drink</option>
                                                         <option id = "FoodName" value="Sandwich">Juice</option>
                                                         <option id = "FoodName" value="Fish">Water</option>
                                                         
                                                    </select>
                                                </div>
                                                
                                                <div class="dl m-b-10">
                                                    <select id = "IntakeTime"  class="custom-select border-10 text-active">
                                                            <option  value="0" selected="">Time</option>
                                                            <option  value="18:00 to 21:00 PM">18:00 to 21:00 PM</option>
                                                            <option  value="21:00 to 23:59 PM">21:00 to 23:59 PM</option>
                                                    </select>  
                                                </div>
                                                
                                              
                                                   
                                             <!-- <div id="Quantity" class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-sm btn-secondary ">
                                                        <input type="radio" name="mergeType" value="Small">Small </label>
                                                    <label class="btn btn-sm btn-secondary">
                                                        <input type="radio" name="mergeType" value="Medium">Medium
                                                    </label>
                                                    <label class="btn btn-sm btn-secondary">
                                                        <input type="radio" name="mergeType" value="Large">Large
                                                    </label>
                                                    </div>-->
                                                    <div class="dl m-b-10">
                                                            <select id = "IntakeTime"  class="custom-select border-10 text-active">
                                                                <option  value="0">Quantity</option>
                                                                <option  value="Small">Small</option>
                                                                <option  value="Medium">Medium</option>
                                                                <option  value="Large">Large</option>
                                                            </select>
                                                        </div>
                                                
                                                
                                                <button type="submit" class="btn btn-primary bg-dark text-white" (click)="drinks()">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                        
                        
                                <div class="w-100"></div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Recently Added</h4>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-secondary text-white">
                                                <tr>
                                                    <th class="text-white" >Food Name</th>
                                                    <th class="text-white" >Meal Type</th>
                                                    <th class="text-white" >Quantity</th>
                                                    <!-- <th>Date</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let rf of recentfoods | async">
                                                    <td>{{rf.FoodName}}</td>
                                                    <td>{{rf.MealType}}</td>
                                                    <td>{{rf.Quantity}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab>
                    <ng-template ngbTabTitle><b>History</b></ng-template>
                    <ng-template ngbTabContent>
                        <br />
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <div class="b-label">
                                        <label for="inputEmail3" class="control-label col-form-label"><i
                                                class="mdi mdi-filter text-dark display-8"></i> Filter </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <select [(ngModel)]="selectedLevel" (change)="selected()" class="form-control">
                                         <option selected="selected">--All Foods-- </option>
                                        <option *ngFor="let item of data" [ngValue]="item">{{item.name}}</option>
                                        <!-- <option>--Select--</option>
                                        <option>Breakfast</option>
                                        <option>Lunch</option>
                                        <option>Dinner</option> -->
                                    </select>
                                    {{selectedLevel | json}}
                                </div>
                            </div>
                        <table class="table">
                            <thead class="bg-secondary text-white">
                                <tr>
                                    <th class="text-white" scope="col">Food Name</th>
                                    <th class="text-white" scope="col">Meal Type</th>
                                    <th class="text-white" scope="col">Quantity</th>
                                    <th class="text-white"scope="col">Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let food of allFoods | async">
                                    <td>{{food.FoodName}}</td>
                                    <td>{{food.MealType}}</td>
                                    <td>{{food.Quantity}}</td>
                                    <td>{{food.CreatedAt | date:'hh:mm:ss'}}</td>
                        
                                </tr>
                        
                            </tbody>
                        </table>
                    </ng-template>
                </ngb-tab>

            </ngb-tabset>
        </div>
    </div>
</div>