<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <ngb-tabset [justify]="currentJustify">

                <ngb-tab>
                    <ng-template ngbTabTitle><b>Add Food</b></ng-template>
                    <ng-template ngbTabContent>
                        <div class="container">
                        
                            <div class="row">
                        
                        
                                <div class="col">
                                    <form (submit)="foodUser($event)" class="form-horizontal m-t-20" id="Foodform">
                                        <div class="card" style="width: 18rem;">
                                            <img class="card-img-top" src="./assets/images/staple1.PNG" alt="Card image cap">
                                            <div class="card-body">
                                                <h3 for="inputfood"><u>Breakfast</u></h3>
                                                <input type="hidden" id="FoodType" class="form-control" name="FoodType" placeholder=""
                                                    value="Staple Food">
                                                <p class="card-text"> </p>
                                                
                                                <div class="dl m-b-10">
                                                    <select class="custom-select border-10 text-active">
                                                        <option value="0" selected="">Select</option>
                                                        <option value="1">Eggs</option>
                                                        <option value="2">Yougurt</option>
                                                        <option value="3">Cofee</option>
                                                        <option value="4">Milk</option>
                                                        <option value="5">Fruits</option>
                                                        <option value="6">Bread</option>
                                                    </select>
                                                </div>
                                                <button type="button" class="btn btn-primary bg-danger text-white" data-toggle="modal" data-target="#exampleModalCenter">
                                                    Add
                                                </button>
                                                
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">Succesfully Added</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Your food is succesfully added.
                                                            </div>
                                                          
                                                        </div>
                                                    </div>
                                                </div>

                                              
                        
                                                
                                            </div>
                                        </div>
                                    </form>
                                </div>
                        
                                <div class="col">
                                    <form (submit)="foodUser($event)" class="form-horizontal m-t-20" id="Foodform">
                                        <div class="card" style="width: 18rem;">
                                            <img class="card-img-top" src="./assets/images/food1.PNG" alt="Card image cap">
                                            <div class="card-body">
                                                <h3 for="inputfood"><u>Lunch</u></h3>
                                                <input type="hidden" id="FoodType" class="form-control" name="FoodType" placeholder=""
                                                    value="Junk Food">
                                                <p class="card-text"> </p>

                                                <div class="dl m-b-10">
                                                    <select class="custom-select border-10 text-active">
                                                        <option value="0" selected="">Select</option>
                                                        <option value="1">Pasta</option>
                                                        <option value="2">Sandwich</option>
                                                        <option value="3">Noodles</option>
                                                        <option value="4">Paratha</option>
                                                        <option value="5">Paneer</option>
                                                        <option value="6">Potato & Peas</option>
                                                    </select>
                                                </div>
                                           
                                                        <button type="button" class="btn btn-primary bg-danger text-white" data-toggle="modal" data-target="#exampleModalCenter">
                                                            Add
                                                        </button>
                                                        
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                            aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLongTitle">Succesfully Added</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Your food is succesfully added.
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                        
                                
                                <div class="col">
                                    <form (submit)="foodUser($event)" class="form-horizontal m-t-20" id="Foodform">
                                        <div class="card" style="width: 18rem;">
                                            <img class="card-img-top" src="./assets/images/drink3.PNG" alt="Card image cap">
                                            <div class="card-body">
                                                <h3 for="inputfood"><u>Dinner</u></h3>
                                                <input type="hidden" id="FoodType" class="form-control" name="FoodType" placeholder=""
                                                    value="Drinks">
                                                <p class="card-text"></p>
                                                <div class="dl m-b-10">
                                                    <select class="custom-select border-10 text-active">
                                                        <option value="0" selected="">Select</option>
                                                        <option value="1">Pizza</option>
                                                        <option value="2">Steak</option>
                                                        <option value="3">Teriyaki</option>
                                                        <option value="4">Fish</option>
                                                        <option value="5">Brown Rice</option>
                                                        <option value="6">Chicken</option>
                                                    </select>
                                                </div>
                                                
                                                        <button type="button" class="btn btn-primary bg-danger text-white" data-toggle="modal" data-target="#exampleModalCenter">
                                                            Add
                                                        </button>
                                                        
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                            aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLongTitle">Succesfully Added</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Your food is succesfully added.
                                                                    </div>
                                                             
                                                                </div>
                                                            </div>
                                                        </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                        
                                <div class="w-100"></div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab>
                    <ng-template ngbTabTitle><b>Food Log</b></ng-template>
                    <ng-template ngbTabContent>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Type of Food</th>
                                    <th scope="col">Name of Food </th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let food of allFoods | async">
                                    <td>{{food.FoodType}}</td>
                                    <td>{{food.NameOfFood}}</td>
                                    <td>{{food.CreatedAt}}</td>
                        
                                </tr>
                        
                            </tbody>
                        </table>
                    </ng-template>
                </ngb-tab>

            </ngb-tabset>
        </div>
    </div>
</div>