

<div class="container">
    
    <div class="row">
     
      <div class="col">
            <div class="card" style="width: 18rem;"  >
                    <img class="card-img-top" src="./assets/images/staple1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 for ="inputfood"><u>Staple Food</u></h3>
                      <p class="card-text"> </p>
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-sm btn-secondary ">
                            <input type="radio" name="mergeType" id="radio1" value="OVW">HIGH
                          </label>
                          <label class="btn btn-sm btn-secondary">
                            <input type="radio" name="mergeType" id="radio2" value="ADD" checked>MEDIUM
                          </label>
                          <label class="btn btn-sm btn-secondary">
                            <input type="radio" name="mergeType" id="radio3" value="KEE">LOW
                          </label>
                          
                        </div>
                      
                    </div>
                  </div> 
      </div>
      <div class="col">
          <div class="card" style="width: 18rem;"  >
                  <img class="card-img-top" src="./assets/images/food1.jpg" alt="Card image cap">
                  <div class="card-body">
                      <h3 for ="inputfood"><u>Junk Food</u></h3>
                    <p class="card-text"> </p>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-sm btn-secondary ">
                          <input type="radio" name="mergeType" id="radio1" value="OVW">HIGH
                        </label>
                        <label class="btn btn-sm btn-secondary">
                          <input type="radio" name="mergeType" id="radio2" value="ADD" checked>MEDIUM
                        </label>
                        <label class="btn btn-sm btn-secondary">
                          <input type="radio" name="mergeType" id="radio3" value="KEE">LOW
                        </label>
                        
                      </div>
                    
                  </div>
                </div> 
    </div>

      <div class="w-100"></div>
      <div class="col">
            <div class="card" style="width: 18rem;" >
                    <img class="card-img-top" src="./assets/images/drink3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 for ="inputfood"><u>Drinks</u></h3>
                      <p class="card-text"></p>
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-sm btn-secondary ">
                            <input type="radio" name="mergeType" id="radio1" value="OVW">HIGH
                          </label>
                          <label class="btn btn-sm btn-secondary">
                            <input type="radio" name="mergeType" id="radio2" value="ADD" checked>MEDIUM
                          </label>
                          <label class="btn btn-sm btn-secondary">
                            <input type="radio" name="mergeType" id="radio3" value="KEE">LOW
                          </label>
                          
                        </div>
                    </div>
                  </div> 
      </div>
      <div class="col">
            <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/images/fresh1.jpg" alt="Card image cap">
                    <div class="card-body">
                        
                        
                        <h3 for ="inputfood"><u>Fresh Food</u></h3>
                      <p class="card-text"></p>
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-sm btn-secondary ">
                            <input type="radio" name="mergeType" id="radio1" value="OVW">HIGH
                          </label>
                          <label class="btn btn-sm btn-secondary">
                            <input type="radio" name="mergeType" id="radio2" value="ADD" checked>MEDIUM
                          </label>
                          <label class="btn btn-sm btn-secondary">
                            <input type="radio" name="mergeType" id="radio3" value="KEE">LOW
                          </label>
                          
                        </div>
                          
                      
                      
                     
                    </div>
                  </div> 
      </div>
      
    </div><div class="w-100"></div>

    <button type="button" class="btn btn-outline-secondary">Add</button>
  </div>
