<div class="main">
    
  <h1><u>FOOD</u></h1>
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="./assets/images/fresh.jpg " ></div>
        <div class="card_content">
          <h2 class="card_title">FRESH FOOD</h2>
          <p>
                  <label>SELECT
                  </label>
                  <select>
                      <option>
                      </option>
                      <option value="1">HIGH 
                      </option>
                      <option value="2">MEDIUM 
                      </option>
                      <option value="2">LOW 
                          </option>
                  </select>
              </p>
          </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="./assets/images/drink.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">DRINKS</h2>
          
          <p>
                  <label>SELECT
                  </label>
                  <select>
                      <option>
                      </option>
                      <option value="1">HIGH 
                      </option>
                      <option value="2">MEDIUM 
                      </option>
                      <option value="2">LOW 
                          </option>
                  </select>
              </p>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="./assets/images/ja.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">JUNK</h2>
          <p>
                  <label>SELECT
                  </label>
                  <select>
                      <option>
                      </option>
                      <option value="1">HIGH 
                      </option>
                      <option value="2">MEDIUM 
                      </option>
                      <option value="2">LOW 
                          </option>
                  </select>
              </p>
             
        </div>
      </div>
    </li>
  </ul>
  <div >
    
   
      <input type="submit" class ="submit" value="ADD" align="center">   
        
       
  </div>
</div>
