<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>




<div class="page">
  <header tabindex="0">LapBase</header>
  <div id="nav-container">
    <div class="bg">
</div>
    <div class="button" tabindex="0">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>

</div>
    <div id="nav-content" tabindex="0">
      <ul>
	  <li><a href ="#0">Dashboard</a></li>
      
        <li><a href="">My Demographics</a></li>
        <li><a href="#0">food Log</a></li>
        <li><a href="#0">Exercise Log</a></li>
        <li><a href="#0">Weight Log</a></li>
        <li><a href="#0">Logout</a></li>
		
		
      
      </ul>
    </div>
  </div>


<div>



    <div class="grido"><u>ADD FOOD</u>
    <h3>TODAY</h3>
    <button  type="button" onclick="SUBMIT">Add</button>
    
    </div>

    
    
    

<div class="grid-container">
  <div class="grid-item"><b>FRESH FOOD</b>
  


<div>
  <input type="radio" id="HIGH" name="AVERAGE" value="HIGH"
         checked>
  <label for="HIGH">HIGH</label>
</div>

<div>
  <input type="radio" id="LOW" name="AVERAGE" value="LOW">
  <label for="LOW">MEDIUM</label>
</div>

<div>
  <input type="radio" id="LOW" name="AVERAGE" value="LOW">
  <label for="LOW">LOW</label>
</div>
<img src="./assets/images/fresh.jpg" alt="Fresh" width="200" height="100">
</div>
  <div class="grid-item">DRINKS
  
<div>
  <input type="radio" id="HIGH" name="AVERAGE" value="HIGH"
         checked>
  <label for="HIGH">HIGH</label>
</div>

<div>
  <input type="radio" id="LOW" name="AVERAGE" value="LOW">
  <label for="LOW">MEDIUM</label>
</div>

<div>
  <input type="radio" id="LOW" name="AVERAGE" value="LOW">
  <label for="LOW">LOW</label>
</div>
<img src="./assets/images/drink.jpg" alt="Drink" width="200" height="100">

  </div>
  <div class="grid-item">JUNK FOOD
  
<div>
  <input type="radio" id="HIGH" name="AVERAGE" value="HIGH"
         checked>
  <label for="HIGH">HIGH</label>
</div>

<div>
  <input type="radio" id="LOW" name="AVERAGE" value="LOW">
  <label for="LOW">MEDIUM</label>
</div>

<div>
  <input type="radio" id="LOW" name="AVERAGE" value="LOW">
  <label for="LOW">LOW</label>
</div>
<img src="./assets/images/junk.jpg" alt="junk" width="200" height="100">
   </div>  
  <div class="grid-item">STAPLE FOOD 
  
<div>
  <input type="radio" id="HIGH" name="AVERAGE" value="HIGH"
         checked>
  <label for="HIGH">HIGH</label>
</div>

<div>
  <input type="radio" id="LOW" name="AVERAGE" value="LOW">
  <label for="LOW">MEDIUM</label>
</div>

<div>
  <input type="radio" id="LOW" name="AVERAGE" value="LOW">
  <label for="LOW">LOW</label>
</div>
  <img src="./assets/images/staple.jpg" alt="staple" width="200" height="100">
 </div>

   </div>
   
</div>
</div>
</body>
</html>
