<!DOCTYPE html>
<html>
<head>

<title > EXERCISE</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="page">
  <header tabindex="0">LapBase</header>
  <div id="nav-container">
    <div class="bg">
</div>
    <div class="button" tabindex="0">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>

</div>
    <div id="nav-content" tabindex="0">
      <ul>
	  <li><a href ="#0">Dashboard</a></li>
      
        <li><a href="#0">My Demographics</a></li>
        <li><a href="#0">food Log</a></li>
        <li><a href="#0">Exercise Log</a></li>
        <li><a href="#0">Weight Log</a></li>
        <li><a href="#0">Logout</a></li>
		
		
      
      </ul>
    </div>
  </div>

<div class="grido">
<h1> <u>ADD EXERCISE </u> </h1>

<h3>TODAY </h3>

<button type="button" onclick="exit">Add</button>
</div>



<div class="grid-container">
  <div class="grid-item"><h1>LIGHT   EXERCISE </h1>
  <img src="./assets/images/light.jpg" alt="light" width="150" height="150">
  <p>
				
                    
    <label>Duration(Mintues ) </label>
                    <input type="text"/>
					
                </p>
</div>
  <div class="grid-item"><h1>MODERATE EXERCISE</h1>
  <img src="./assets/images/mod.jpg" alt="moderate" width="150" height="150">
    <p>
				
                    
                    <label>Duration(Mintues ) </label>
                    <input type="text"/>
					
                </p>
  
  </div>
  <div class="grid-item"><h1>INTENSE EXERCISE</h1>
   <img src="./assets/images/intense.png" alt="intense" width="150" height="150">
   <p>
				
                    
        <label>Duration(Mintues ) </label>
                    <input type="text"/>
					
                </p>

 
 </div>
   
</div>
</div>
</body>
</html>






