<div class="main">
    
  <h1><u>EXERCISE</u></h1>
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="./assets/images/light.jpg " ></div>
        <div class="card_content">
          <h2 class="card_title">LIGHT EXERCISE</h2>
          <p class="card_text">Duration(Mintues ) </p>
          
                  <input type="text"/>
        </div>
      </div>
    </li>
    
    
    
    
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="./assets/images/mod.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">MODERATE EXERCISE</h2>
          <p class="card_text">Duration(Mintues )</p>
          <input type="text"/>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="./assets/images/intense.png"></div>
        <div class="card_content">
          <h2 class="card_title">INTENSE   EXERCISE</h2>
          <p class="card_text">Duration(Mintues )</p>
          <input type="text"/>
        </div>
      </div>
    </li>
  </ul>
  <div >
    
   
    <input type="submit" class ="submit" value="ADD" align="center">   
      
     
</div>
</div>
