<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background: whitesmoke;">
    <div class="auth-box">
        <div id="loginform">
            <div class="logo">
                <span class="db"></span>
                <div class="navbar-brand">
                   
                    <b class="logo-icon">
                   
                        <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                       
                    </b>
                    
                    <span class="logo-text">
                     
                        <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                      
                    </span>
                
                </div>
            </div>
            <!--<h5 class="font-medium m-b-20">TechBase</h5>-->
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form (submit)="loginUser($event)" class="form-horizontal m-t-20" id="loginform">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                            </div>
                            <input type="text" id = "Username" class="form-control form-control-lg" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                            </div>
                            <input type="password" id = "Password" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                        </div>
         
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                    <button class="btn btn-rounded bg-dark text-white" type="submit">Login</button>
                              <!--  <button class="btn btn-block btn-lg btn-info bg-info text-white" type="submit">Login</button>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>