<!--<div>
    <h3 for="inputAddress">Personal Details</h3>
    <hr>
    <div>

        <div>
            <label for="title">Title</label>
           <p> {{patient.Title}}</p>

        </div>
        <div>
            <label for="firstname">First Name</label>
           <p> {{patient.FirstName}}</p>
        </div>
        <div>
            <label for="lastname">Last Name</label>
           <p> {{patient.Surname}}</p>
        </div>
    </div>

    <div>

        <div>
            <label for="DateOfBirth">Date of Birth</label>
            {{patient.BirthDate}}
        </div>
        <div>
            <label for="inputState">Gender</label>
            {{patient.Gender}}
        </div>
    </div>

    <h3 for="inputAddress">Address Details</h3>
    <div>


        <div>
            <label for="inputAddress">Street</label>
            {{patient.Street}}
        </div>


        <div>
            <div>
                <label for="inputCity">City</label>
                {{patient.City}}
            </div>

            <div>
                <label for="inputState">State</label>
                {{patient.PatientState}}
            </div>
            <div>
                <label for="inputZip">Zip</label>
                {{patient.PinCode}}
            </div>
        </div>
    </div>

    <h3 for="inputAddress">Contact Details</h3>
    <div>

        <div>
            <label for="inputCity">Email</label>
            {{patient.ContactEmail}}
        </div>

        <div>
            <label for="inputState">Phone</label>
            {{patient.PhoneNumber}}
        </div>
        <div>
            <label for="inputZip">Mobile</label>
            {{patient.Mobile}}
        </div>
    </div>

    <h3 for="inputAddress">Insurance Details</h3>
    <div>

        <div>
            <label for="inputCity">Employer</label>
            {{patient.InsuranceEmployer}}
        </div>

        <div>
            <label for="inputState">Insurance</label>
            {{patient.Insurance}}
        </div>
        <div>
            <label for="inputZip">Insurance Number</label>
            {{patient.InusuranceNumber}}
        </div>
        <div>
            <label for="inputZip">Medicare Number</label>
            {{patient.MedicareNumber}}

        </div>
    </div>

</div>-->


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">View only</h4>
            </div>
            <form class="form-horizontal">
                <div class="form-body">
                    <div class="card-body">
                        <h4 class="card-title">Personal Details</h4>
                        <hr>
                    </div>
                   
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Title:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> Mr </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Date Of Birth:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> DOB </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">First Name:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> John </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Gender:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> Male/Female </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Last Name:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> Kit </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <h4 class="card-title">Address Details</h4>
                        <hr>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Address:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> E104, Dharti-2, Near silverstar mall </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">City:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> Bhavnagar </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">State:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> VIC </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Post Code:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> 457890 </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Country:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> Australia </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <h4 class="card-title">Contact Details</h4>
                        </div>
                        <hr class="m-t-0 m-b-40">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Email:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> Email here </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Phone:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> 035687456 </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Mobile:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> 0489576285 </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <h4 class="card-title">Insurance Details</h4>
                        <hr>
                    </div>
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Employer:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> Mr </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Insurance:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> DOB </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Insurance Number:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> John </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">MedicareNumber:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> Male/Female </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-danger">
                                                <i class="fa fa-pencil"></i> Edit</button>
                                            <button type="button" class="btn btn-dark">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
