 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Demographics </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <!-- <link rel="stylesheet" type="text/css" href="css/demographics of patient.css"/> -->
    </head>
    <body>  
	
  
        <form action="" class="register">
            <h1>My Account </h1>
            <fieldset class="row1">
                <legend>Personal Details 
                </legend>
                <p>                 
                    <label>First Name  
                    </label>
                    {{patient.FirstName}}
                    <!-- <input type="text"/> -->
                </p>
                <p>
                    <label>Last Name 
                    </label>
                    {{patient.Surname}}  
					</p>
					<p>
                    
                <p>
                    <label>Date Of Birth 
                    </label>
                    {{patient.BirthDate}}
                </p>
			        <p>
                    <label>Gender 
                      </label>
                      {{patient.Gender}}
                </p>	
				
				
				
            </fieldset>
            <fieldset class="row2">
                <legend>Address Details 
                </legend>
                <p>
                    <label> Street 
                    </label>
                    <td>{{patient.Street}}</td>
                </p>
                <p>
                    <label>City
                    </label>
                    {{patient.City}}
                </p>
               <!-- <p>
                    <label>State  
                    </label>
                    {{patient.State}}
                </p> -->
                <p>
                    <label>Zip/PostCode 
                    </label>
                    {{patient.PinCode}}
                </p>
				 <p>
                    <label> Country 
                    </label>
                    {{patient.Country}}
                </p>
                
                
            </fieldset>
            <fieldset class="row3">
                <legend>Contact Details 
                </legend>
                <p>
                    <label> E-mail 
                    </label>
                   {{patient.ContactEmail}}
                </p>
                    <p>
                    <label> Phone
                    </label>
                    {{patient.Phone}}
                </p>  
			<p>
                    <label> Mobile
                    </label>
                    {{patient.Mobile}}
                </p>	
            </fieldset>
			<fieldset class="row4">
             <legend>Insurance Details 
                </legend>
<p>
                    <label> Employer 
                    </label>
                    {{patient.InsuranceEmployer}}
                </p>
                <p>
                    <label> Insurance
                    </label>
                    {{patient.Insurance}}
                </p>  
			  <p>
                    <label> Insurance Number 
                    </label>
                    {{patient.InsuranceNumber}}
                </p>
			<p>
                    <label> Medicare Number 
                    </label>
                    {{patient.MedicareNumber}}
                </p>		
                
                
            </fieldset>
        </form>
    </body>
</html>

 






















