html {
    background-color: red;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }

  .sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav .logo_box {
    text-align: center;
    padding: 25px 10px;
  }

.loginbox{
    width: 600px;
    height: 550px;
    background:white;
    top: 60%;
    left:70%;
    position:absolute;
    transform: translate(-95%, -70%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid whitesmoke;
    background:transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.loginbox input[type="button"]
{
    border: none;
    outline: none;
    height:40px;
    background:red;
    color:white;
    font-size: 18px;
    border-radius:20px;
}

.loginbox input[type="button"]:hover
{
    cursor: pointer;
    background: maroon;
    color:white;
}

.loginbox a:hover
{
    color: red;
}



