<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<title>Login</title></head>
    
<div id="cotainer" action="action_page.php">
    <div class ="main">
            <p class="sign" align="center">Login</p>
            <form  class="form1" (submit) = "loginUser($event)">
        <input class= "un" type="text" align="center" name="Username" placeholder="Enter your username" id = "username" />
        <input class= "pass" type="password" align="center" name="Password" placeholder="Enter your password" id = "password"/>
        <input class ="submit"  type ="submit" value= "Submit" align="center">
        <p class="forgot" align="center"><a href="#">Forgot Password</a></p>
        </form>
    </div>
</div>

<div *ngFor='let authors of authori' style="text-align: center">
<h2>{{authors.UserId}}</h2>
<p>{{authors.OrganizationCode}}</p>
<p>{{authors.PatientID}}</p>
<p>{{authors.IsSuccess}}</p>
</div>
</html>