<html>
<header></header>
<div class="sidenav">
        <div class="logo_box">
            <a href="#">
                <img src="./assets/images/logo.PNG" alt="LAPBASE">
            </a>
        </div>
</div>
<body>
<div id="cotainer">
    <div class="loginbox">
        <form [formGroup] = "loginForm">
            <h1>LOGIN</h1>
        <input type="text" name="Username" placeholder="Enter your username" [(ngModule)] = "loginData.userName"/>
        <input type="password" name="Password" placeholder="Enter your password" [(ngModule)] = "loginData.Password"/>
        <input type ="button" (click) = "login()" value = Login/>
        </form>
    </div>
</div>
</body>
<footer></footer>
</html>