<h1><u>WEIGHT</u></h1>
<div class="main">
  <ul class="cards">
        
        <li class="cards_item">
            <div class="card">
              
              
               
                
                       
              
            </div>
          </li>

        
        <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="./assets/images/weight.png " ></div>
              <div class="card_content">
                <h2 class="card_title">WEIGHT</h2>
                <p class="card_text">(KILOGRAMS)  <input type="text"/> </p>
                <input type="submit" class ="submit" value="+" align="center">
                       
              </div>
            </div>
          </li>
          </ul>
          </div>