<div class="card text-dark">
  <div class="card-body">
<form action="" class="register">
  <fieldset class="row1">
    <legend>Personal Details</legend>
    <hr>
    <p>
      <label>First Name:  {{patient.Firstname}}</label>
     
      <!-- <input type="text"/> -->
    </p>
    <p>
      <label>Last Name: {{patient.Surname}}</label>
  
    </p>
    <p>
      <p>
        <label>Date Of Birth:  {{patient.Birthdate}}</label>
       
      </p>
      <!-- <p>
        <label>Gender</label>
        {{patient.Gender}}
      </p> -->
  </fieldset>
  <fieldset class="row2">
    <legend>Address Details</legend>
    <hr>
    <p>
      <label>Street  {{patient.Street}}</label>
  
    </p>
    <!-- <p>
      <label>City: {{patient.City}}</label>
      
    </p> -->
    <p>
    <label>State: {{patient.State}}</label>
      
    </p>
    <!-- <p>
      <label>Zip/PostCode</label>
      {{patient.PinCode}}
    </p> -->
    <p>
      <label>Country: Australia</label>
      {{patient.Country}}
    </p>
  </fieldset>
  <fieldset class="row3">
    <legend>Contact Details</legend>
    <hr>
    <p>
      <label> E-mail: www.lapbase.com</label>
      {{patient.ContactEmail}}
    </p>
    <p>
      <label>Phone: {{patient.HomePhone}}</label>
      
    </p>
    <!-- <p>
      <label> Mobile</label>
      {{patient.HomePhone}}
    </p> -->
  </fieldset>
  <!-- <fieldset class="row4">
    <legend>Insurance Details</legend>
    <hr>
    <p>
      <label> Employer</label>
      {{patient.InsuranceEmployer}}
    </p>
    <p>
      <label> Insurance</label>
      {{patient.Insurance}}
    </p>
    <p>
      <label> Insurance Number</label>
      {{patient.InsuranceNumber}}
    </p>
    <p>
      <label> Medicare Number</label>
      {{patient.MedicareNumber}}
    </p>
  </fieldset> -->
</form>
</div>
</div>