<div class="card">
  <div class="card-body">
<form action="" class="register">
  <fieldset class="row1">
    <legend>Personal Details</legend>
    <hr>

        <p style="text-align: left; width:15%; display: inline-block;"><b>First Name:</b></p>
        <p class="text-info" style="text-align: bottom; width:85%;  display: inline-block; font-size: 120%;"><i>Robert</i></p>
        <p style="text-align: left; width:15%; display: inline-block;"><b>Last Name:</b></p>
        <p class="text-info" style="text-align: bottom; width:85%;  display: inline-block; font-size: 120%;"><i>Hook</i></p>
        <p style="text-align: left; width:15%; display: inline-block;"><b>DOB:</b></p>
        <p class="text-info" style="text-align: bottom; width:85%;  display: inline-block; font-size: 120%;"><i>02/05/1998</i></p>
        <p style="text-align: left; width:15%; display: inline-block;"><b>Gender:</b></p>
        <p class="text-info" style="text-align: bottom; width:85%;  display: inline-block; font-size: 120%;"><i>Male</i></p>
    
  </fieldset>
  <fieldset class="row2">
    <legend>Address Details</legend>
    <hr>
        <p style="text-align: left; width:15%; display: inline-block;"><b>Street:</b></p>
        <p class="text-info" style="text-align: bottom; width:85%;  display: inline-block; font-size: 120%;"><i>358 Burke Road</i></p>
        <p style="text-align: left; width:15%; display: inline-block;"><b>City:</b></p>
        <p class="text-info" style="text-align: bottom; width:85%;  display: inline-block; font-size: 120%;"><i>Camberwell</i></p>
        <p style="text-align: left; width:15%; display: inline-block;"><b>State:</b></p>
        <p class="text-info" style="text-align: bottom; width:85%;  display: inline-block; font-size: 120%;"><i>VIC</i></p>
        <p style="text-align: left; width:15%; display: inline-block;"><b>Postcode:</b></p>
        <p class="text-info" style="text-align: bottom; width:85%;  display: inline-block; font-size: 120%;"><i>3123</i></p>
        <p style="text-align: left; width:15%; display: inline-block;"><b>Country:</b></p>
        <p class="text-info"style="text-align: bottom; width:85%;  display: inline-block; font-size: 120%;"><i>Australia</i></p>
  </fieldset>
  <fieldset class="row3">
    <legend>Contact Details</legend>
    <hr>
        <p style="text-align: left; width:15%; display: inline-block;"><b>Email:</b></p>
        <p class="text-info" style="text-align: bottom; width:85%;  display: inline-block; font-size: 120%;"><i>something@something.com</i></p>
        <p style="text-align: left; width:15%; display: inline-block;"><b>Mobile</b></p>
        <p class="text-info" style="text-align: bottom; width:85%;  display: inline-block; font-size: 120%;"><i>0489657382</i></p>
  </fieldset>

</form>
</div>
</div>