<form>
    <h3 for ="inputAddress">Personal Details</h3>
<div class="form-row">
    
  <div class="form-group col-md-1">
    <label for="inputEmail4">Title</label>
    <input type="text" class="form-control" id="inputEmail4" placeholder="Title">
  </div>
  <div class="form-group col-md-3">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" id="inputPassword4" placeholder="First Name">
  </div>
  <div class="form-group col-md-3">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" id="inputPassword4" placeholder="Last Name">
  </div>
  </div>

  <div class="form-row">
   
    <div class="form-group col-md-3">
      <label for="inputPassword4">Date of Brith</label>
      <input type="date" class="form-control" id="inputPassword4" placeholder="mm/dd/yyyy">
    </div>
    <div class="form-group col-md-2">
        <label for="inputState">Gender</label>
        <select id="inputState" class="form-control">
                <option selected>Select</option>
         <option>Male</option>
          <option>Female</option>
         
        </select>
      </div>
    </div>

    <h3 for ="inputAddress">Address Details</h3>
<div class="form-row">


<div class="form-group col-md-5">
  <label for="inputAddress">Street</label>
  <input type="text" class="form-control" id="inputAddress" placeholder="Street">
</div>


<div class="form-row">
  <div class="form-group col-md-4">
    <label for="inputCity">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>

  <div class="form-group col-md-3">
    <label for="inputState">State</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="form-group col-md-2">
    <label for="inputZip">Zip</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
</div>
</div>

<h3 for ="inputAddress">Contact Details</h3>
<div class="form-row">

      <div class="form-group col-md-4">
        <label for="inputCity">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    
      <div class="form-group col-md-3">
        <label for="inputState">Phone</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Mobile</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      </div>
         
<h3 for ="inputAddress">Insurance Details</h3>
<div class="form-row">

          <div class="form-row col-md-3">
            <label for="inputCity">Employer</label>
            <input type="text" class="form-control" id="inputCity">
           
          </div>
        
          <div class="form-row col-md-3">
            <label for="inputState">Insurance</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-row col-md-3">
            <label for="inputZip">Insurance Number</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="form-row col-md-3">
                <label for="inputZip">Medicare Number</label>
                <input type="text" class="form-control" id="inputZip">
              
              
              </div>
    </div>

</form>