<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">person</i>
                        </div>
                        <p class="card-category">Patient ID:</p>
                        <h3 class="card-title"> Name:

                        </h3>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">poll</i>
                        </div>
                        <p class="card-category">Height:</p>
                        <h3 class="card-title">() cm</h3>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">cake</i>
                        </div>
                        <p class="card-category">Age</p>
                        <h3 class="card-title">import</h3>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">person</i>
                        </div>
                        <p class="card-category">Weight</p>
                        <h3 class="card-title">import</h3>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Previous Weight Record</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>Id</th>
                            <th>Name</th>
                            <th>Weight</th>
                            <th>Entry Date </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>id</td>
                                <td>Name</td>
                                <td>weight</td>
                                <td>date</td>
                            </tr>
                            <tr>
                                <td>id</td>
                                <td>Name</td>
                                <td>weight</td>
                                <td>date</td>
                            </tr>
                            <tr>
                                <td>id</td>
                                <td>Name</td>
                                <td>weight</td>
                                <td>date</td>
                            </tr>
                            <tr>
                                <td>id</td>
                                <td>Name</td>
                                <td>weight</td>
                                <td>date</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>