<div class="row">
<div class="col-lg-4 col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="m-t-30 text-center">
                <img src="assets/images/users/1.jpg" class="rounded-circle" width="150" />
                <h4 class="card-title m-t-10">Name</h4>
                <h6 class="card-subtitle">Date of Birth</h6>
                <div class="row text-center justify-content-md-center">
                    <div class="col-4">
                        <a href="javascript:void(0)" class="link">
                            <i class="fas fa-weight"></i>
                            <br />
                            Weight(KGS)
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="javascript:void(0)" class="link">
                            <i class="fas fa-child"></i>
                            <br />
                            BMI
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="card-body">
            <small class="text-muted">Email address </small>
            <h6>hangover@gmail.com</h6>
            <small class="text-muted p-t-30 db">Phone</small>
            <h6>+61465478454</h6>
            <small class="text-muted p-t-30 db">Address</small>
            <h6>Thomas Cherry Building, MD 20815</h6>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-12">
    <div class="card">
        <div class="card-header bg-dark">
            <h4 class="m-b-0 text-white">Calories Chart</h4>
        </div>
        <div class="card-body">
            <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels"
                [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-dark">
            <h4 class="m-b-0 text-white">Weight Chart</h4>
        </div>
        <div class="card-body">
            <canvas baseChart height="130" [datasets]="WeightChart" [labels]="WeightChartLabels"
                [options]="WeightChartOptions" [colors]="WeightChartColors" [legend]="WeightChartLegend"
                [chartType]="WeightChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-12">

    <div class="card">
        <div class="card-body">
            <ngb-tabset [justify]="currentJustify">
                    <ngb-tab>
                        <ng-template ngbTabTitle><b>Add</b> Weight</ng-template>
                        <ng-template ngbTabContent>
                            <br />
                            <span>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <div class="b-label">
                                            <label for="inputEmail3" class="control-label col-form-label">Weight(KGs)</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="number" class="form-control" id="inputEmail3" placeholder="Weight">
                                    </div>
                                </div>
                            </span>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary bg-danger text-white" data-toggle="modal"
                                    data-target="#exampleModalCenter">
                                    Add
                                </button>
                            </div>
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Succesfully Added</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Your Weight is succesfully added.
                                        </div>
                            
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h4>Current Weight</h4>
                            <div>
                                <div class="card card-hover">
                                    <div class="box bg-dark text-center">
                                        <h1 class="font-light text-white">26</h1>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><b>BMI Calculator</b></ng-template>
                <ng-template ngbTabContent>
                    <br />
            <span>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <div class="b-label">
                            <label for="inputEmail3" class="control-label col-form-label">Weight(KGs)</label>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <input type="number" class="form-control" id="inputEmail3" placeholder="Weight">
                    </div>
                </div>
            </span>
            <div class="text-center">
                <button type="button" class="btn btn-rounded btn-dark bg-dark text-white col-lg-5">Calculate</button>
            </div>
            <hr>
            <h4>Calculated BMI</h4>
            <div>
                <div class="card card-hover">
                    <div class="box bg-dark text-center">
                        <h1 class="font-light text-white">26</h1>
                        <h6 class="text-white"> ... </h6>
                    </div>
                </div>
            </div>
            </ng-template>
            </ngb-tab>
            </ngb-tabset>
        </div>
    </div>      
</div>
</div>