<div class="row">
    <div class="col-lg-12 col-md-12">
            <div class="card">
                    <div class="row">
                            
                           <div class="col-6 col-md-4"><span class="align-baseline"> <h5 class="m-b-0 text-secondary ">Name  {{patient.Firstname}} {{patient.Surname}}</h5></span>
                                <span class="align-top"><h5 class="m-b-0 text-secondary text-left"> Age  {{patient.Age}} </h5></span>
                                <span class="align-top"><h5 class="m-b-0 text-secondary text-left">DOB  {{patient.Birthdate}}</h5> </span>
                                <span class="align-top"> <h5 class="m-b-0 text-secondary ">Address  {{patient.Street}} {{patient.Suburb}}  {{patient.State}}</h5>
                                    </span>
                                    <span class="align-middle"><h5 class="m-b-0 text-secondary text-left"> Phone{{patient.HomePhone}}</h5> </span>  
                                </div> 
                        <div class="col-6 col-md-4">
                            
                        <label>Baseline Report</label>
                       
                        <span class="align-middle"> <h5 class="m-b-0 text-body ">  Start Weight
                              {{patient.StartWeight}} </h5></span>
                            
                         
                                    <span class="align-middle"> <h5 class="m-b-0 text-body ">Current Weight  {{weight.WeightValue}}</h5></span>
                                    
                                    <span class="align-middle"> <h5 class="m-b-0 text-body "> Target Weight  {{patient.StartWeight}} </h5>
                                    </span><span class="align-middle"> <h5 class="m-b-0 text-body ">BMI {{weight.BMI}} </h5>
                                        </span>

                                        </div>

                                        <div class="col-6 col-md-4">
                            
                            
                                                <span class="align-middle"> <h5 class="m-b-0 text-body ">Ref Dr {{patient.RefDrName1}} </h5></span>
                                                <span class="align-middle"> <h5 class="m-b-0 text-body ">Surgery Type  </h5></span>
                                                <span class="align-middle"> <h5 class="m-b-0 text-body ">Operation Date </h5></span>  
                                                
                                                           
                                                
                                                           
                                                          
                   
                                                               </div>




                                
                              </div>
                             
                                        
                    </div>
                </div>








        <!--
<div class="col-lg-5 col-md-12">
    <div class="card">
            <div class="card-header bg-dark">
                <h4 class="m-b-0 text-white text-bold">Profile</h4>
            </div>
        <div class="card-body">
            
            <div class="ml-auto">
                <span class="text-dark display-5">
                    
                </span>
            </div>
            <h3 class="m-b-0 text-info text-bold"><i class="ti-user text-dark"></i> Mr. {{patient.Firstname}} {{patient.Surname}}</h3>
            <br />

            <h6 class="m-b-0 text-info text-left"><i class="mdi mdi-cake text-dark"></i> Age {{patient.Age}} yrs</h6>

            <br />
            <h4 class="m-b-0 text-info text-right"><i class="ti-calendar text-dark"></i>{{patient.Birthdate}}</h4>
            <hr>
            
            <h5 class="m-b-0 text-info "><i class="ti-home text-dark display-7"></i>{{patient.Street}} {{patient.Suburb}}  {{patient.State}}, AUSTRALIA</h5>
            <br />
            <h5 class="m-b-0 text-info text-left"><i class="ti-id-badge text-dark"></i> Home:{{patient.HomePhone}}</h5>
            <br />

            <h5 class="m-b-0 text-info text-left"><i class="ti-mobile text-dark"></i> Ref Doctor: {{patient.RefDrName1}}</h5>
        
        </div>


    </div>
</div>

<div class="col-lg-3 col-md-10">
    <div class="card">
        <div class="card-header bg-dark">
            <h4 class="m-b-0 text-white">Baseline Report</h4>
        </div>
        <div class="card-body">

        <div class="card border-bottom border-info">
            <div class="card-body">
                <div class="d-flex no-block align-items-center">
                    <div>
                         <h2>{{weight.WeightValue}} Kg</h2>
                        <h6 class="text-info">Weight</h6>
                    </div>
                    <div class="ml-auto">
                        <span class="text-info display-4">
                            <i class="ti-dashboard"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="card border-bottom border-info">
            <div class="card-body">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <h2>{{weight.BMI}} </h2>
                        <h6 class="text-info">BMI</h6>
                    </div>
                    <div class="ml-auto">
                        <span class="text-info display-4">
                            <i class="ti-bar-chart"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>



        </div>
    </div>
</div>
-->
<div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <ngb-tabset [justify]="currentJustify">
                    <ngb-tab>
                        <ng-template ngbTabTitle><b>Weight</b></ng-template>
                        <ng-template ngbTabContent>
                            <br />
                            <form (submit)="weightUser($event)">
                                <span>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <div class="b-label">
                                                <label for="inputEmail3"
                                                    class="control-label col-form-label">Weight(KGs)</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="number" class="form-control" id="WeightValue" >
                                        </div>
                                    </div>
                                </span>
                                <div class="text-center">
                                     <button type="submit" class="btn btn-primary bg-dark text-white" (click)="weightMessage()">Add</button>
                                </div>
        
                            </form>
                        </ng-template>
                    </ngb-tab>
        
                    <ngb-tab>
                        <ng-template ngbTabTitle><b>BMI Calculator</b></ng-template>
                        <ng-template ngbTabContent>
                            <br />
                            <form (submit)="calcBMI($event)" class="form-horizontal m-t-20" id="BMIform">
                                <span>
        
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <div class="b-label">
                                                <label for="inputEmail3"
                                                    class="control-label col-form-label">Weight(KGs)</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="number" class="form-control" id="Weight">
                                        </div>
                                    </div>
                                </span>
                                <div class="text-center">
                                    <button type="submit"
                                        class="btn btn-rounded btn-dark bg-dark text-white col-lg-5">Calculate</button>
                                </div>
                                <hr>
                                <!--<h4>Calculated BMI</h4>-->
                             <!--  <div>
                                    <div class="card card-hover">
                                        <div class="box bg-dark text-center">
                                            <h1 class="font-light text-white">{{bmiData.BMI}}</h1>
                                            <h6 class="text-white"> {{bmiData.message}}</h6>
                                        </div>
                                    </div>
                                </div> -->
                            </form>
                        </ng-template>
                    </ngb-tab>
        
                </ngb-tabset>
            </div>
        


    </div>
</div>




           
<!---------->
<!--Graphs-->
<!---------->

<div class="col-lg-6 col-md-12">
<div class="card">
    <div class="card-header bg-dark">
        <h4 class="m-b-0 text-white">Calories</h4>
    </div>
    <div class="card-body">
        <canvas baseChart height="100" [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
            [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
    </div>
</div>
</div>
<div class="col-lg-6 col-md-12">
<div class="card">
    <div class="card-header bg-dark">
        <h4 class="m-b-0 text-white">Weight</h4>
    </div>
    <div class="card-body">
        <canvas baseChart height="100" [datasets]="WeightChartData" [labels]="WeightChartLabels"
            [options]="WeightChartOptions" [colors]="WeightChartColors" [legend]="WeightChartLegend"
            [chartType]="WeightChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
    </div>
</div>
</div>
<div class="col-lg-6 col-md-12">
    <div class="card">
        <div class="card-header bg-dark">
            <h4 class="m-b-0 text-white">BMI</h4>
        </div>
        <div class="card-body">
                <canvas baseChart height="100" [datasets]="bmiChartData" [labels]="bmiChartLabels"
                [options]="bmiChartOptions" [colors]="bmiChartColors" [legend]="bmiChartLegend"
                [chartType]="bmiChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
        </div>
    </div>
</div>


</div>


<!-------------->
<!--End Graphs-->
<!-------------->
